@{
    ViewBag.Title = "InQuiry";
    ViewBag.CurrentTab = "InQuiry";
    Layout = "~/Views/Shared/_Master.cshtml";
}
<div class="grid-box middle">
    <fieldset>
        <legend>InQuiry</legend>
        <p>@Html.ActionLink("InQuiry Manual", "Index", "Download", new { fileName = "eScription One InQuiry Manual September 2020.pdf" }, new { target = "_blank" })</p>
        <p>@Html.ActionLink("How to Login Using MFA", "Index", "Download", new { fileName = "How to Log in Using MFA for InQuiry, InSync, and Mobile Apps.pdf" }, new { target = "_blank" })</p>
        <p>@Html.ActionLink("InVision Column Reports Manual", "Index", "Download", new { fileName = "eScription One Custom Columns March 2019.pdf" }, new { target = "_blank" })</p>
    </fieldset>
</div>