@model IEnumerable<System.Web.UI.WebControls.HyperLink>
@if (Model != null && Model.Any())
{
<div class="grid-box">
    <fieldset>
        <legend>Other Links of Interest</legend>
        <ul>
            @foreach(var link in Model)
            {
                <li><a href="@link.NavigateUrl">@link.Text</a></li>
            }
        </ul>
    </fieldset>
</div>       
}