@model IEnumerable<System.Web.UI.WebControls.HyperLink>
@if (Model != null && Model.Any())
{
    var containerClass = "left";
    if (((bool?)ViewData["FloatRight"]).GetValueOrDefault())
    {
        containerClass = "right";
    }

<div class="grid-box @containerClass">
    <fieldset>
        <legend>Other Links of Interest</legend>
        <ul class="dashed">
            @foreach(var link in Model)
            {
                <li><a href="@link.NavigateUrl" target="_blank">@link.Text</a></li>
            }
        </ul>
    </fieldset>
</div>       
}