@{
    ViewBag.Title = "Forms";
    ViewBag.CurrentTab = "Forms";
    Layout = "~/Views/Shared/_Master.cshtml";
}
<div class="grid-box middle">
    <fieldset>
        <legend>Forms &amp; Documents</legend>
        <p>@Html.ActionLink("Graphical Signature Form (PDF)", "Index", "Download", new { fileName = "Graphical Signature Form 2019.pdf" }, new { target = "_blank" }) - This is the electronic signature capture form. <span class="warning">(Please do not modify signature form)</span></p>
        <p>@Html.ActionLink("Client Print Template Build/Change Policy", "PTPolicy", new { target = "_blank" })</p>
        <p>@Html.ActionLink("QA Ratings and Feedback Manual", "Index", "Download", new { fileName = "eScription One InScribe QA Ratings and Feedback Manual March 2019.pdf" }, new { target = "_blank" })</p>
        <p>@Html.ActionLink("InQuiry Manual", "Index", "Download", new { fileName = "eScription One InQuiry Manual February 2019.pdf" }, new { target = "_blank" })</p>
    </fieldset>
</div>