@{
    ViewBag.Title = "Client Print Template Build/Change Policy";
    ViewBag.CurrentTab = "Forms";
    Layout = "~/Views/Shared/_Master.cshtml";
}
<div class="grid-box middle">
    <fieldset>
        <legend>Purpose</legend>
        <p>We build "Print Templates" to define the layout of a particular style of transcription. An example would be a Progress Note. A print template for a progress note would include: patient demographics, title, body, carbon copies, and signature to the layout of the transcription in the format the client requests. The procedure section defines the steps that are necessary in order to submit a request and also defines the usual time frames. The purpose of the procedure is to facilitate a smooth and expected outcome.</p>
    </fieldset>
    <fieldset>
        <legend>Procedure</legend>
        <p>We receive requests for Print Template builds/changes through the Print Template option found on the <a href="/ticket">support site</a>. Upon receipt, the request is automatically time stamped by the Print Templates Department. All necessary information to build the print template is required for a successful build/change. The Requestor should submit a WORD version of the Print Template specifying the font size, font, spacing and any other custom specification necessary to build the template to the client’s needs. If a Word version is not available, a copy (Faxed, etc…) can be used with all specifications (font, font size, spacing, etc…) written on the sample.</p>
    </fieldset>
    <fieldset>
        <legend>Time Frame</legend>
        <p>Print Templates will be completed within 1 week of the date they are received. This timeframe should be used as an approximate time as in some cases, print templates will be turned around quicker or later depending on the volume of requests.</p>
    </fieldset>
    <fieldset>
        <legend>Image Files</legend>
        <p>Any images associated with the print template to be built (logos and the like) must be submitted as an image file of 150 dots per inch minimum resolution. The image files types acceptable are JPEGS and TIFFs. If you are not able to submit an image file of the logo or graphic, an original version of the logo or graphic (actual letterhead, etc…) must be sent to us via mail.</p>
    </fieldset>
    <fieldset>
        <legend>Mailing Address</legend>
        <p>Nuance Communications, Inc.<br/>Attn: Ptemplates<br/>328 E. Lakeside Street<br/>Madison, WI 53715</p>
    </fieldset>
</div>