@{
    ViewBag.Title = "Web";
    ViewBag.CurrentTab = "Web";
    Layout = "~/Views/Shared/_Master.cshtml";
}
<div class="grid-box middle">
    <fieldset>
        <legend>Web Applications</legend>
        <p>@Html.ActionLink("InQuiry Manual", "Index", "Download", new { fileName = "eScription One InQuiry Manual February 2019.pdf" }, new { target = "_blank" })</p>
        <p>@Html.ActionLink("InCommand Manual", "Index", "Download", new { fileName = "eScription One InCommand Manual March 2019.pdf" }, new { target = "_blank" })</p>
        <p>@Html.ActionLink("InVision Custom Column Reports Manual", "Index", "Download", new { fileName = "eScription One Custom Columns March 2019.pdf" }, new { target = "_blank" })</p>
    </fieldset>
</div>