@model Emdat.SoftwareSite.Models.MobileViewModel
@{
    ViewBag.Title = "Mobile";
    ViewBag.CurrentTab = "Mobile";
    Layout = "~/Views/Shared/_Master.cshtml";
}
<div class="grid-box middle">
    <fieldset>
        <legend>Mobile</legend>
        <p>@Model.Description</p>
        <ul class="dashed">
            @foreach(var manualLink in Model.ManualLinks)
            {
                <li>
                    <a href="@manualLink.NavigateUrl" target="_blank">@manualLink.Text</a>
                </li>
            }
        </ul>
    </fieldset>
</div>