@model Emdat.SoftwareSite.Models.FooterViewModel
<div class="footer">
    <div class="left">
        @Html.DisplayFor(m => m.ServerName)
    </div>
    <div class="right">
        © Copyright @Html.DisplayFor(m => m.CopyrightDate)
    </div>
</div>