<div class="master-header">
    <div class="left">
        <img src="@Url.Content("~/Content/nuance_logo.png")" alt="" class="system-logo" />
    </div>
    <div class="right">
        <div class="master-header-right">
            @* User Information Goes Here *@
        </div>
    </div>
</div>