@{
    ViewBag.Title = "Software";
    ViewBag.CurrentTab = "Home";
    Layout = "~/Views/Shared/_Master.cshtml";
}
<div class="grid-box middle">
    <fieldset>
        <legend>Welcome to the Software Download Site</legend>
        <p>This is where you can download our software and get additional information about our products.</p>
        <p><b>@Html.ActionLink("InSync:", "Index", "InSync")</b> is the application used to upload dictations into the system.</p>
        <p><b>@Html.ActionLink("InScribe:", "Index", "InScribe")</b> is the application that Transcriptionists use to type transcriptions.</p>
        <p><b>@Html.ActionLink("Tools:", "Index", "Tools")</b> are tools to help utilize our software.</p>
        <p><b>@Html.ActionLink("Documents:", "Index", "Documents")</b> is where you can get the signature forms, client build documents, file examples, and other documents.</p>
    </fieldset>
</div>